.thumbnail {
	float:left;
	border:1px solid #ccc;
	margin:5px;
	padding:5px;
	padding-bottom:10px;
	position:relative;
}

.fixedheight {
	min-height:200px;
	max-height:190px;
	overflow:hidden;
}
.thumbnail img {
	margin:auto;
}


.thumbLegend {
	display:block;
	background-color:white;
	font-size:80%;
	position:absolute;
	bottom:0;
	width:100%;
}